---
layout: default
---

<p style="font-size: 0.9rem; color: #666; margin-bottom: 0;">
	{{ page.date | date: "%d %B %Y" }}
</p>

<h1>{{ page.title }}</h1>

{{ content }}
<hr>
<p class="author-line">
	{% if page.author %}
	written by
	{% if page.author_url %}
	<a href="{{ page.author_url }}">{{ page.author }}</a>
	{% else %}
	{{ page.author }}
	{% endif %}
	{% endif %}
</p>

{% if page.tags.size > 0 %}
<div style="font-size: 0.9rem;">
	<strong>tags:</strong>
	{% for tag in page.tags %}
	#{{ tag }}
	{% endfor %}
</div>
{% endif %}
<a href="https://github.com/0x11a41/lc101">
	Contribute to this project
</a>
<br>
💚💚🤍
